/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-weight: bold;
  font-size: 105%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.standard-title {
  font-size: 130%;
  font-weight: bold;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 6% 0% 6% 10%;
  background: #353535;
  color: white;
}
.footer h2 {
  font-size: 120%;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  margin-bottom: 5%;
}
.footer a {
  color: white;
  font-size: 90%;
}
.footer--link {
  line-height: 1.5rem;
  display: flex;
}
.footer .fa-utensils:before {
  font-size: 80%;
}
.footer .fa-hands-helping:before {
  font-size: 70%;
}
.footer i {
  width: 1.2rem;
}

.header {
  display: flex;
  flex-direction: column;
}
.header__title {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.header__title--logo {
  width: 180px;
  height: 31px;
}
.header__spot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
  background: #eaeaea;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.header__spot--logo {
  padding-right: 5%;
  font-size: 80%;
}
.header__text {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 35px 0px;
  background: #f6f6f6;
  width: 100%;
  height: 300px;
}
.header__text--entitled {
  text-align: center;
  font-weight: bold;
  line-height: 1.5rem;
  font-size: 130%;
  width: 60%;
}
.header__text--content {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 70px;
  width: 85%;
}
.header__text--btn a {
  background: linear-gradient(0deg, #9356dc, #ff79da);
  color: white;
  padding: 15px 20px;
  border-radius: 40px;
}
.header__text a:hover {
  filter: brightness(1.1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.menu-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
}
.menu-header__title {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 10px 20px;
  height: auto;
  width: 100%;
}
.menu-header__title i {
  position: relative;
  right: 60px;
  font-size: 120%;
  color: #313131;
}
.menu-header__viewmenu {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.working {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 450px;
  width: auto;
  padding: 40px 20px;
}
.working__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0px;
  height: 350px;
}
.working__list--puce {
  display: flex;
  box-sizing: border-box;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 35px;
  background: #f6f6f6;
  border-radius: 15px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25);
  height: 60px;
  width: 100%;
}
.working__list--puce span {
  display: flex;
  color: white;
  position: absolute;
  left: -10px;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  font-size: 90%;
}
.working__list--puce i {
  color: #837b7b;
  text-align: center;
  vertical-align: middle;
}
.working__list--puce strong {
  padding-left: 10%;
  font-weight: bold;
}

.nav {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: auto;
  height: 1240px;
  padding: 50px 20px 0px 20px;
  background: #f6f6f6;
}

.nav-pannel {
  height: 950px;
  box-sizing: border-box;
  padding: 10px 0px 0px 0px;
}
.nav-pannel__card {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  margin-top: 20px;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.nav-pannel__card--view {
  height: 180px;
  position: relative;
}
.nav-pannel__card--view img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.nav-pannel__card--view .bloc_new {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #99e2D0;
  color: #008766;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  padding: 8px 12px 8px 12px;
}
.nav-pannel__card--view #view_adjustment_menu2 {
  object-position: 50% 60%;
}
.nav-pannel__card--info {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: white;
  position: relative;
  color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.nav-pannel__card--info div {
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  padding: 10px;
  line-height: 1.5rem;
}
.nav-pannel__card--info i {
  position: absolute;
  right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
  font-size: 110%;
}
.nav-pannel__card--info .heart_empty {
  opacity: 1;
  color: gray;
}
.nav-pannel__card--info .heart_full {
  background: -webkit-linear-gradient(0deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transform: scale(0);
  transition-duration: 300ms;
}
.nav-pannel__card--info .fav_heart:hover .heart_full {
  opacity: 1;
  transform: scale(1);
}
.nav-pannel__card--info .fav_heart:hover .heart_empty {
  opacity: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding: 30px 20px 0px 20px;
  background: #f6f6f6;
  border-radius: 30px;
  background-color: white;
  width: auto;
}
.menu__title {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 30px;
  position: relative;
}
.menu__title--title {
  font-family: "Shrikhand", cursive;
  font-size: 140%;
}
.menu__title--fav {
  font-size: 110%;
  text-align: center;
  position: absolute;
  right: 20px;
  padding-top: 2.5px;
  color: rgba(128, 128, 128, 0.719);
  opacity: 1;
  transition-duration: 300ms;
}
.menu__title--fav-full {
  font-size: 110%;
  text-align: center;
  position: absolute;
  right: 20px;
  padding-top: 2.5px;
  background: -webkit-linear-gradient(0deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  transform: scale(0);
  transition-duration: 300ms;
  animation-fill-mode: both;
}
.menu__title .menu-fav-heart:hover .menu__title--fav-full {
  opacity: 1;
  transform: scale(1);
}
.menu__title .menu-fav-heart:hover .menu__title--fav {
  opacity: 0;
}
.menu__3-course {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.menu__3-course--title {
  padding-bottom: 7px;
  width: 12%;
  border-bottom: solid 3px #99e2D0;
}
.menu__3-course--info {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: 15px;
  line-height: 25px;
  width: 100%;
  height: 70px;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  animation: reveal 1s ease-in-out;
  animation-fill-mode: forwards;
  transform: scale(0);
  overflow: hidden;
}
.menu__3-course--info strong {
  font-weight: bold;
}
.menu__3-course--info span {
  height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 85%;
}
.menu__3-course--confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px -93px -12px 10px;
  background: #99e2D0;
  width: 80px;
  height: 70px;
  overflow: hidden;
}
.menu__3-course--confirmation i {
  font-size: 25px;
  color: white;
}
.menu__3-course--info:hover .menu__3-course--confirmation {
  animation: slide-left 0.5s ease-in-out both;
}
.menu__3-course--info:hover .menu__3-course--confirmation i {
  animation: rotate 0.5s ease-in-out both;
}
.menu__3-course .menu_delay-1 {
  animation-delay: 0.1s;
}
.menu__3-course .menu_delay-2 {
  animation-delay: 0.3s;
}
.menu__3-course .menu_delay-3 {
  animation-delay: 0.5s;
}
.menu__3-course .menu_delay-4 {
  animation-delay: 0.7s;
}
.menu__3-course .menu_delay-5 {
  animation-delay: 0.9s;
}
.menu__3-course .menu_delay-6 {
  animation-delay: 1.1s;
}
.menu__3-course .menu_delay-7 {
  animation-delay: 1.3s;
}
.menu__3-course .menu_delay-8 {
  animation-delay: 1.5s;
}
.menu__3-course .menu_delay-9 {
  animation-delay: 1.7s;
}
.menu__3-course .menu_delay-10 {
  animation-delay: 1.9s;
}
.menu__btn {
  text-align: center;
  padding: 40px 0px 80px 0px;
}
.menu__btn a {
  background: linear-gradient(0deg, #9356dc, #ff79da);
  color: white;
  padding: 15px 40px;
  border-radius: 40px;
}
.menu__btn a:hover {
  filter: brightness(1.1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 651px) and (max-width: 1024px) {
  .header__spot {
    padding: 2%;
  }

  .header__text {
    height: auto;
  }
  .header__text--content {
    padding-bottom: 40px;
  }

  .working {
    height: 320px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .working__list {
    box-sizing: border-box;
    align-items: center;
  }
  .working__list--puce {
    width: 380px;
  }

  .nav {
    height: 650px;
    padding-top: 20px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }

  .standard-title {
    text-align: center;
  }

  .nav-pannel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 600px;
  }
  .nav-pannel__card {
    width: 40%;
  }

  .menu-header {
    height: 450px;
  }
  .menu-header__viewmenu {
    height: 420px;
    object-position: 50% 65%;
  }

  .menu__3-course {
    align-items: center;
  }
  .menu__3-course--title {
    width: auto;
  }
  .menu__3-course--info {
    width: 60%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 650px) {
  .header__spot {
    padding: 2%;
  }

  .header__text {
    height: auto;
  }
  .header__text--content {
    padding-bottom: 40px;
  }

  .working {
    height: 320px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .working__list {
    box-sizing: border-box;
    align-items: flex-start;
    margin-left: 80px;
  }
  .working__list--puce {
    width: 380px;
  }

  .menu-header {
    height: 450px;
  }
  .menu-header__viewmenu {
    height: 420px;
    object-position: 50% 65%;
  }

  .menu__3-course {
    align-items: center;
  }
  .menu__3-course--title {
    width: auto;
  }
  .menu__3-course--info {
    width: 80%;
  }

  .nav-pannel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
  }
  .nav-pannel__card {
    width: 70%;
  }
}
@media only screen and (min-width: 1025px) {
  .header__spot {
    padding: 2%;
  }
  .header__text {
    height: auto;
  }

  .working {
    height: auto;
  }
  .working__list {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }
  .working__list--puce {
    width: 25%;
  }

  .nav {
    height: auto;
    padding: 30px 20px 50px 20px;
  }

  .nav-pannel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
  }
  .nav-pannel__card {
    width: 28%;
  }

  .footer {
    padding: 2% 0% 2% 6%;
  }
  .footer--link {
    line-height: 2rem;
  }
  .footer h2 {
    margin-bottom: 2%;
  }

  .menu-header {
    height: 300px;
  }
  .menu-header__viewmenu {
    height: 270px;
  }

  .menu__pannel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menu__3-course {
    width: 30%;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes dot {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes slide-left {
  0% {
    margin: 0px -93px -12px 10px;
  }
  100% {
    margin: 0px -12px -12px 10px;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  animation: loader 0.1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}
.loader__container {
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: 35px;
}
.loader__container .loader-dot {
  height: 25px;
  width: 25px;
  border-radius: 50px;
}
.loader__container--dot1 {
  background-color: #9356dc;
  transform: scale(1);
  animation: dot 0.8s;
  animation-iteration-count: infinite;
}
.loader__container--dot2 {
  background-color: #ff79da;
  transform: scale(1);
  animation: dot 0.8s 0.1s;
  animation-iteration-count: infinite;
}
.loader__container--dot3 {
  background-color: #99e2D0;
  transform: scale(1);
  animation: dot 0.8s 0.2s;
  animation-iteration-count: infinite;
}

/*# sourceMappingURL=style.css.map */
