/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-weight: bold;
  font-size: 105%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.standard-title {
  font-size: 130%;
  font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 6% 0% 6% 10%;
    background: #353535;
    color: white;
  }
  .footer h2 {
    font-size: 120%;
    font-family: "Shrikhand", cursive;
    font-weight: normal;
    margin-bottom: 5%;
  }
  .footer a {
    color: white;
    font-size: 90%;
  }
  .footer--link {
    line-height: 1.5rem;
    display: flex;
  }
  .footer .fa-utensils:before {
    font-size: 80%;
  }
  .footer .fa-hands-helping:before {
    font-size: 70%;
  }
  .footer i {
    width: 1.2rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header__title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .header__title--logo {
    width: 180px;
    height: auto;
  }
  .header__spot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    background: #eaeaea;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
  }
  .header__spot--logo {
    padding-right: 5%;
    font-size: 80%;
  }
  .header__text {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    background: #f6f6f6;
    width: 100%;
    height: 300px;
  }
  .header__text--entitled {
    text-align: center;
    font-weight: bold;
    line-height: 1.5rem;
    font-size: 130%;
    width: 60%;
  }
  .header__text--content {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
    width: 85%;
  }
  .header__text--btn a {
    background: linear-gradient(0deg, #9356dc, #ff79da);
    color: white;
    padding: 15px 20px;
    border-radius: 40px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .working {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 450px;
    width: auto;
    padding: 40px 20px;
  }
  .working__list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0px;
    height: 350px;
  }
  .working__list--puce {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 35px;
    background: #f6f6f6;
    border-radius: 15px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25);
    height: 60px;
    width: 100%;
  }
  .working__list--puce span {
    display: flex;
    color: white;
    position: absolute;
    left: 10px;
    justify-content: center;
    align-items: center;
    background-color: #9356dc;
    border-radius: 30px;
    width: 25px;
    height: 25px;
    font-size: 90%;
  }
  .working__list--puce i {
    color: #837b7b;
    text-align: center;
    vertical-align: middle;
  }
  .working__list--puce strong {
    padding-left: 10%;
    font-weight: bold;
  }

  .nav {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: auto;
    height: 1240px;
    padding: 50px 20px 0px 20px;
    background: #f6f6f6;
  }

  .nav-pannel {
    height: 950px;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
  }
  .nav-pannel__card {
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    margin-top: 20px;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  .nav-pannel__card--view {
    height: 180px;
  }
  .nav-pannel__card--view img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .nav-pannel__card--view #view_adjustment_menu2 {
    object-position: 50% 60%;
  }
  .nav-pannel__card--info {
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    background-color: white;
    color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .nav-pannel__card--info div {
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    padding: 10px;
    line-height: 1.5rem;
  }
  .nav-pannel__card--info i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 90%;
    font-size: 110%;
    color: #837b7b;
  }
}

/*# sourceMappingURL=style.css.map */
