

.working{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 450px;
    width: auto;
    padding: 40px 20px;

    &__list {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 0px;
        height: 350px;

        &--puce{
            display: flex;
            box-sizing: border-box;
            position: relative;
            flex-direction: row;
            align-items: center;
            padding: 0px 0px 0px 35px;
            background:rgb(246, 246, 246);
            border-radius: 15px;
            box-shadow: 1px 3px 6px rgb(0 0 0 /25%);
            height: 60px;
            width: 100%;

            span {
                display: flex;
                color: white;
                position: absolute;
                left: -10px;
                justify-content: center;
                align-items: center;
                background-color: $colour-primary;
                border-radius: 30px;
                width: 25px;
                height: 25px;
                font-size: 90%;
            }

            i{
                color: rgb(131, 123, 123);
                text-align: center;
                vertical-align: middle;
            }

            strong {
                padding-left: 10%;
                font-weight: bold;
            }

        }
    }
}

.nav {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: auto;
    height: 1240px;
    padding: 50px 20px 0px 20px;
    background: rgb(246, 246, 246);
}

    .nav-pannel {
        height: 950px;
        box-sizing: border-box;
        padding: 10px 0px 0px 0px;

        &__card {
            box-sizing: border-box;
            width: 100%;
            height: 250px;
            margin-top: 20px;
            box-shadow: 4px 2px 10px rgb(0 0 0 /25%);
            border-radius: 15px;

            &--view {
                height: 180px;

                img {
                    height: 180px;
                    width: 100%;
                    object-fit: cover;
                    object-position: center bottom;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }

                #view_adjustment_menu2 {
                    object-position: 50% 60%;
                }
            }

            &--info {
                display: flex;
                flex-wrap: wrap;
                height: 70px;
                background-color: white;
                color: black;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                
                div {
                    box-sizing: border-box;
                    width: 80%;
                    height: 100%;
                    padding: 10px;
                    line-height: 1.5rem;
                }

                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                    height: 90%;
                    font-size: 110%;
                    color:#837b7b ;
                    
                }
            }
        }


    }